@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
  --color-header: #f4efec;
  --color-text: #cdc6c3;
  --gallery-gap: calc(var(--index) * 7.5);
  --stripes-size: 110px;
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: 'Gabarito', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth !important;
  background: #000;
}

canvas {
    position: absolute;
    display: block;
    width: 100vw;
    min-height: 100vh;
}

.anim {
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}

/*.anim {
  width: 100vw;
  min-height: 1px;
  overflow: hidden;
 background-image: linear-gradient(45deg, #000 25%, rgba(28, 32,44, 1.0) 25%, rgba(28, 32,44, 1.0) 50%, #000 50%, #000 75%, rgba(28, 32,44, 1.0) 75%, rgba(28, 32,44, 1.0) 100%);
  background-size: 56.57px 56.57px;
  animation: scroll 1s infinite linear;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.anim::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  min-height: 300%;
  width: calc(100% + var(--stripes-size));
  background-image: linear-gradient(45deg, #000 25%, rgba(28, 32,44, 1.0) 25%, rgba(28, 32,44, 1.0) 50%, #000 50%, #000 75%, rgba(28, 32,44, 1.0) 75%, rgba(28, 32,44, 1.0) 100%);
  background-size: var(--stripes-size) var(--stripes-size);
  animation: animateStripes 5s linear infinite;
}
*/

@keyframes animateStripes {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-110px);
  }
}

.body-active {
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
}

.cover {
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.main-menu {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-menu *{
  user-select: none;
}

.nav {
  position: fixed !important;
  top: 0px;
  width: 100vw;
  height: 100px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, .1);
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.logo {
  min-width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo > h1 {
  margin-left: 100px;
  color: #fff;
  font-size: 40px;
}

.links {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links > ion-icon {
  font-size: 50px;
  transition: all .3s;
  z-index: 10000;
  color: #fff;
  transition: all .5s;
}

.links > ion-icon:hover {
  color: rgba(235, 31, 82, 1.0);
}

.toggle-active {
  transform: rotate(180deg);
}

.showlink {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -40%);
  z-index: 100000000;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: all .3s;
  width: 0;
  height: 0;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid rgba(235, 31, 82, 1.0);
  background: rgba(0, 0, 0, .1);
}

.showlink > h1 > a {
  color: #fff;
  margin: 20px;
  cursor: pointer;
  text-shadow: 0px 0px 5px #000;
  text-decoration: none;
}

.showlink > h1 > a:hover {
  color: rgba(235, 31, 82, 1.0);
  text-shadow: 0px 0px 10px rgba(235, 31, 82, 1.0);
}

.showlink-active {
  opacity: 1;
  width: 60%;
  height: 60vh;
}

.logo-circle {  
  position: absolute;
  width: 40px;
  aspect-ratio: 1/1;
  background: rgba(235, 31, 82, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
  transform: translateX(-80px);
  animation: logo-circle 1.2s ease-out infinite;
}

@keyframes logo-circle {
  0%{
    width: 20px;
    aspect-ratio: 1/1;    
  }
  100%{
    width: 40px;
    aspect-ratio: 1/1;
  }
}

.logo-circle > .static-circle {
  width: 20px;
  aspect-ratio: 1/1;  
  background: rgba(235, 31, 82, 1);
  border-radius: inherit;
}

.logo-img {
  width: 500px;
  height: 500px;
}

.main-menu {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-menu-text {
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-text-h1,
.logo-text-p {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-text-h1 {
  height: 70%;
  align-items: flex-end;
}

.logo-text-p {
  height: 30%;
  align-items: flex-start;
}

.main-menu-text > [class*="logo-text"] > h1,
.main-menu-text > [class*="logo-text"] > h2 {
  color: #fff;
  text-shadow: 0px 0px 20px #fff;
  font-family: 'Gabarito', sans-serif;
  font-size: 250px;
}

.main-menu-text > [class*="logo-text"] > h2 {
  font-size: 40px;
  text-align: center;
}

.main-header > h1 > span {
/*         0px 0px 20px rgba(235, 31, 82, 1);*/
}


.second-section {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(120deg, #000 50%, #111 50%);
}

.second-section-text {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-section-text > h1 {
  font-size: 80px;
  color: #fff;
  text-shadow: 0px 0px 10px #fff;
}

.second-section-card {
  width: 100vw;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.cards {
  flex: calc(100% / 5);
  min-width: 350px;
  height: 200px;
  background: rgba(255, 255, 255, .1);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 20px;
  border-radius: 20px;
  border: 2px solid #fff;
  box-shadow: 0px 0px 10px #fff;
  transition: all .3s;
  cursor: pointer;
}

.cards:hover {
  border-radius: 20px;
  border: 2px solid rgba(235, 31, 82, 1);
  box-shadow: 0px 0px 20px rgba(235, 31, 82, 1),
              0px 0px 20px rgba(235, 31, 82, 1) inset;
  color: rgba(235, 31, 82, 1);
}



.card-container {
  background: rgba(255, 255, 255, .1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
  color: #B3B8CD;
  padding-top: 30px;
  position: relative;
  flex: calc(100% / 5);
  min-width: 250px;
  max-width: 100%;
  text-align: center;
  margin: 20px;
  border: 1px solid rgba(235, 31, 82, 1);
  overflow: hidden;
  transition: all .1s;
  cursor: pointer;
}

.card-container:hover {
  box-shadow: 0px 0px 20px rgba(235, 31, 82, 1),
              0px 0px 10px rgba(235, 31, 82, 1) inset;
}

.card-container .pro {
  color: #231E39;
  background-color: rgba(235, 31, 82, 1);
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.card-container .round {
  border: 2px solid rgba(235, 31, 82, 1);
  border-radius: 50%;
  padding: 7px;
}

.skills {
  text-align: left;  
  padding: 15px;
  margin-top: 30px;
  min-height: 100px;
  max-height: 200px;
}

.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  border: 1px solid #2D2747;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  margin: 0 7px 7px 0;
  padding: 7px;
  transition: all .33s;
  cursor: pointer;
  margin: 5px;
}

.skills ul li:hover {
  border-color: rgba(235, 31, 82, 1);
}






form {
  width: 98vw;
  min-height: 450px;
  background: rgba(255, 255, 255, .1);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid rgba(235, 31, 82, 1);
  margin: 10px;
}

form > *{
  color: #fff;
}

form > h1 {
  margin-bottom: 10px;
  align-items: center;
  margin-left: 5px;
  font-size: 25px;
  width: 95%;
}

select {
  background: none;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, .5);
  width: 95%;
  margin-bottom: 6px;
  margin-top: 6px;
}

select > option {
  color: #fff !important;
  background: rgba(0, 0, 0, .5);
  border-radius: 5px;
}

form > input,
form > button {
  background: none;
  outline: none;
  border: 1px solid rgba(255, 255, 255, .5);
  height: 40px;
  margin: 10px;
  border-radius: 10px;
  width: 95%;
  padding-left: 10px;
}

button {
    background-color: rgba(235, 31, 82, 1) !important;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
}
button:hover {
    background-color: #0056b3;
}

.footer {
  width: 100vw;
  min-height: 15vh;
  background: rgba(255, 255, 255, .1);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction:column;
  padding: 20px; 
  margin-top: 10px;
/*  border-top-left-radius: 30px;*/
/*  border-top-right-radius: 30px;*/
}
.footer > h2 {
  color: #fff;
}

.footer > h2 > span {
  color: rgba(235, 31, 82, 1.0);
}

.footer > h2 > a {
  text-decoration: none;
  color: rgba(235, 31, 82, 1.0);
}
.footer > h2 > a:hover {
  text-shadow: 0px 0px 10px rgba(235, 31, 82, 1.0);
}


@media screen and (max-width: 1480px) {
  .cards {
    width: 300px;
    margin: 20px;
  }
  .main-title {
    font-size: 140px !important;
  }
}


@media screen and (max-width: 1360px) {
  .main-title {
    font-size: 150px !important;
  }
  #element {
    font-size: 40px;
  }
  .l-text {
    text-align: center;
  }
}

@media screen and (max-width: 1023px) {
  .cards {
    width: 250px;
    margin: 15px;
  }
}


@media screen and (max-width: 850px) {
  .main-menu-text {
    width: 90%;
  }
  .main-title {
    font-size: 130px !important;
  }
  #element {
    font-size: 30px;
  }
  .cards {
    width: 350px;
    margin: 15px;
  }
}

@media screen and (max-width: 685px) {
  .cards {
    width: 200px;
    height: 150px;
    margin: 20px;
  }
  .main-title {
    font-size: 115px !important;
  }
}

@media screen and (max-width: 665px) {
  .cards {
    width: 200px;
    height: 150px;
    margin: 20px;
  }
}


@media screen and (max-width: 650px) {
  .main-menu-text {
    width: 90%;
  }
  .main-title {
    font-size: 100px !important;
  }
  #element {
    font-size: 30px;
  }
  .links {
    width: 20%;
  }
  .second-section-text > h1 {
    font-size: 70px;
  }
  .l-text {
    font-size: 50px !important;
  }
}

@media screen and (max-width: 530px) {
  .main-menu-text {
    width: 99%;
  }
  .main-title {
    font-size: 90px !important;
  }
  #element {
    font-size: 30px;
  }
  .logo {
    padding-left: 40px;
  }
  .logo > h1 {
    font-size: 30px;
    margin-left: 30px;
  }
  .logo-circle {
    width: 15px;
  }
  .cards {
    width: 90%;
  }
}

@media screen and (max-width: 450px) {
  .main-menu-text {
    width: 99%;
  }
  .main-title {
    font-size: 80px !important;
  }
  #element {
    font-size: 20px;
  }
  .second-section-text > h1 {
    font-size: 50px;
  }
  .cards {
    min-width: 200px;
  }
  .cards > h1 {
    font-size: 25px;
  }
  .showlink > h1 > a {
    font-size: 23px;
  }
}

@media screen and (max-width: 400px) {
  .logo {
    padding-left: 40px;
  }
  .logo > h1 {
    font-size: 25px;
    margin-left: 10px;
  }
  .logo-circle {
    width: 10px;
  }
  .main-title {
    font-size: 70px !important;
  } 
  .l-text {
    font-size: 30px !important;
  }
  .main-title {
    font-size: 50px !important;
  }
}